[core]
  autocrlf = input
  editor = vim
[include]
  path = ~/.gitconfig.local # https://stackoverflow.com/a/39198833/1943077
[pull]
  rebase = true
[init]
  defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[rerere]
	enabled = true
[protocol "file"]
	allow = always
